<div class="col-12 p-0">
    <div class="container px-0">
        <div *ngIf="dataSource && dataSource?.length <= 0"
            style="padding-top: 100px;padding-right: 50px;">
            <mat-card class="text-center col-5 mx-auto mt-3">
                <h5 class="text-muted my-1">No Tasks</h5>
                <button mat-raised-button color="primary" class="my-3"
                    (click)="schdlKeyword = undefined;createTask()">
                    <i class="ft-refresh-cw mr-1"></i>Create Task
                </button>
            </mat-card>
        </div>
        <mat-card [hidden]="dataSource && dataSource?.length <= 0 || !dataSource">
            <div class="d-flex align-items-center">
                <div class="my-3 px-0 col-7">
                    <mat-form-field class="col-12 col-lg-5">
                        <input autocomplete="off" matInput placeholder="Search"
                            (keyup)="applyFilter($event.target.value)" [(ngModel)]="schdlKeyword">
                        <mat-icon matSuffix>
                            <i class="icon-search text-muted" style="font-size: 14px;"></i>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-5 text-right" style="padding-right: 2px;">
                    <button  mat-raised-button color="basic" class="mb-0 mr-2"
                        (click)="schdlKeyword = undefined;gettaskList();">
                        <i class="ft-refresh-cw mr-1"></i>Refresh
                    </button>
                    <button mat-raised-button color="primary" class="mb-0"
                        (click)="createTask()">
                        <i class="ft-refresh-cw mr-1"></i>Create Task
                    </button>
                   
                </div>
            </div>
            <div>
                <div class="table_container mat-elevation-z8">
                    <table mat-table [dataSource]="filteredSource" class="col-12" matSort>
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef class="text-black-50 text-left" mat-sort-header> #
                                </th>
                            <td mat-cell *matCellDef="let element;let indx = index" class="text-left"> {{indx+1}} </td>
                        </ng-container>
                        <ng-container matColumnDef="taskId">
                            <th mat-header-cell *matHeaderCellDef class="text-black-50 text-left" mat-sort-header> TaskId
                                </th>
                            <td mat-cell *matCellDef="let element" class="text-left"> {{element?.taskId}} </td>
                        </ng-container>
                        <ng-container matColumnDef="taskName">
                            <th mat-header-cell *matHeaderCellDef class="text-black-50 text-left" mat-sort-header>TaskName
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-left"> {{element?.taskName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="assignTo">
                            <th mat-header-cell *matHeaderCellDef class="text-black-50 text-left" mat-sort-header>
                                AssignTo
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-left"> {{element?.assignTo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="points">
                            <th mat-header-cell *matHeaderCellDef class="text-black-50 text-left" mat-sort-header>
                                Points
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-left"> {{element?.points}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="text-black-50 text-center"
                            style="padding-left: 10px;" mat-sort-header>
                                Status
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-left"> 
                                <span *ngIf="element?.status === 'Assigned'"
                                class="py-1 px-2 rounded statusBadge inverse text-center text-bold-700">Assigned</span>
                            <span *ngIf="element?.status === 'Pending'"
                                class="py-1 px-2 rounded statusBadge info text-center text-bold-700">Processing</span>
                            <span *ngIf="element?.status === 'Resloved'"
                                class="py-1 px-2 rounded statusBadge success text-bold-700">Completed</span>
                            

                            </td>
                        </ng-container>

                       
                       
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="text-black-50 text-center">Actions</th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <span style="cursor: pointer;">
                                    <!-- <mat-icon style="font-size: 20px;" class="text-muted mr-1" matTooltip="Info" (click)="details(element)">info</mat-icon> -->
                                    <mat-icon style="font-size: 20px;" class="text-muted mr-1" matTooltip="Edit" (click)="editTask(element)">edit</mat-icon>
                                    <mat-icon style="font-size: 20px"  class="text-muted accel-color-danger" matTooltip="Delete" (click)="deleteTask(element)">delete</mat-icon>
                                </span>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                        <tr mat-row *matRowDef="let row;columns: displayedColumns;"></tr>
                    </table>
                    <div *ngIf="filteredSource && filteredSource.length <= 0;" class="w-100 py-3">
                        <h5 class="text-muted text-center">No Data found</h5>
                    </div>
                    <mat-paginator [length]="dataSource?.length" [pageSize]="5"  [pageSizeOptions]="[5, 10, 20, 40]"></mat-paginator>
                </div>
            </div>
        </mat-card>
    </div>
</div>